<%var profilelink = '/'+username+'/profile',
	explorelink='/'+username+'/explore/friends',
	homelink='/'+username+'/home',
	messagelink='/'+username+'/direct',
	settingslink='/'+username+'/settings';
 %>
 <nav>
	<script src="https://kit.fontawesome.com/e4aaa47c6d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../addmie/js/client.js"></script>
    <script src="../addmie/js/frontend.js"></script> 
	
	<div class="headermenu">
			<div class ='wrapper'>
				<div class="logo">
					<img src="../addmie/img/Addmie.png">
				</div>
				<div class="title"> Addmie</div>
				<div class="search_box">
					<form action="search.php" method="GET" id= "search">
						<input type="text" name="q" size="60" placeholder="search"> 
						<div id='search_font'><input type='button' name="search_submit" placeholder="search_submit"/></div>
					</form>
				</div>
				<div>
						<div class="headerbuttons" >
							<%if(username){%>
								<ul>
									<li>
										<a href=<%=homelink%> >
											<div >
												<i style="font-size:2.5em;" class="fas fa-home"></i>
											</div>
										</a>
									</li>
									<li>
										<a href=<%=explorelink%>>
											<div >
												<i style="font-size:2.5em;" class="fas fa-eye"></i>
											</div>
										</a>
									</li>
									<li>
										<a href=<%=profilelink%>>
											<div >
												<i style="font-size:2.5em;" class="fas fa-user-alt"></i>
											</div>
										</a>
									</li>
									<li>
										<a href=<%=messagelink%>>
											<div >
												<i style="font-size:2.5em;" class="fas fa-feather-alt"></i>
											</div>
										</a>
									</li>
									<li>
										<a href=<%=settingslink%>>
											<div >
												<i style="font-size:2.5em;" class="fas fa-cog"></i>
											</div>
										</a>
									</li>
									
								</ul>
							<%}%>
						</div>
				</div>
			</div>
	</div>
</nav>