<%var profilelink = '/'+username+'/profile',
	explorelink='/'+username+'/explore/friends',
	homelink='/'+username+'/home',
	messagelink='/'+username+'/direct',
	settingslink='/'+username+'/settings';
 %>
 <nav>
	<script src="https://kit.fontawesome.com/e4aaa47c6d.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="../addmie/js/sendmessage.js"></script>
    <script src="../addmie/js/client.js"></script>
    <script src="../addmie/js/frontend.js"></script> 
	
	<div class="headermenu ">
			<div class ='flex flex_center'>
				<div class="logo">
					<img src="../addmie/img/Addmie.png" height="35px" width="35px">
				</div>
				<div class="title"> Addmie</div>
			
				<div>
						<div  >
							<%if(username){%>
								<ul class="flex flex_center">
									<li class="headerbuttons">
										<a href=<%=homelink%> >
											<div >
												<i style="font-size:2.5em;" class="fas fa-home"></i>
											</div>
										</a>
									</li >
									<li class="headerbuttons">
										<a href=<%=explorelink%>>
											<div >
												<i style="font-size:2.5em;" class="fas fa-eye"></i>
											</div>
										</a>
									</li>
									<li class="headerbuttons">
										<a href=<%=profilelink%>>
											<div >
												<i style="font-size:2.5em;" class="fas fa-user-alt"></i>
											</div>
										</a>
									</li>
									<li class="headerbuttons">
										<a href=<%=messagelink%>>
											<div >
												<i style="font-size:2.5em;" class="fas fa-feather-alt"></i>
											</div>
										</a>
									</li>
									<li class="headerbuttons">
										<a href=<%=settingslink%>>
											<div >
												<i style="font-size:2.5em;" class="fas fa-cog"></i>
											</div>
										</a>
									</li>
									<li class="headerbuttons">
										<a href=<%=settingslink%>>
											<div >
												<i  style="font-size:2.5em;" class="fas fa-search"></i>
											</div>
										</a>
									</li>
								</ul>
							<%}%>
						</div>
				</div>
			</div>
	</div>
</nav>