<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" type = "image/png" href = "../addmie/img/Addmie.png"> 
    <link rel="Stylesheet" href="../addmie/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../addmie/css/gaurav.css">  
 
    <title>Document</title>
</head>
<body>
    <%- include('header.ejs',({username:userobj.username}))%>
    <%var postlink="/"+userobj.username+"/sendpost"; %>
    <div class="grid-container">
        <div class="grid-container-left">
            <div class="profile">
                <div id="profile_picture"><img src="../addmie/img/Addmie.png" alt="image" height="155px" width="155px" style="margin: 5px;"></div>
                <div id="username"><a href=><%=userobj.username%></a></div>
            </div>
            <div class="container" id="friends">
                <h1>friends</h1>
                <div class="friends-container">
                    <ul>
                        <%for(i=0;i< userobj.friends.length;i++){%>
                            <li><%- include('accountheader.ejs',{friend:userobj.friends[i],username:userobj.username})%></li>
                        <%}%>
                    </ul>
                </div>                
            </div>
        </div>
        <div class="grid-container-right">
            <div class="postform">
                
                
                <form  method="POST" action=<%=postlink%> >
                    <input type='text' name='text' value='Write Something Here'/>
                    <input id='post' type='submit' name='post' value='Post'/>
                </form>
            </div>
            <div class="post-container">
                <h1>your posts</h1>
                <ul>
                    <%for(i=0;i< postobj.length;i++){%>
                        <li><%-include('mypostcontainer.ejs',{postobj:postobj[i],username:userobj.username});%></li>
                    <%}%>
                </ul>
                
            </div>
        </div>
    </div>
</body>
</html>