<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" type = "image/png" href = "../addmie/img/Addmie.png"> 
    <link rel="Stylesheet" href="../addmie/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../addmie/css/gaurav.css">  
 
    <title>Document</title>
</head>
<body>
    <%- include('header.ejs',({username:userobj.username}))%>
    <%var postlink="/"+userobj.username+"/sendpost"; %>
    <div class="flex grid-container">
        <div class="flex grid-container-left">
            <div class="flex profile">
                <div class="flex name"> 
                    <div><%=userobj.fname%></div>
                    <div><%=userobj.lname%></div>
                </div>
                <div id="profile_picture"><img src="../addmie/img/Addmie.png" alt="image" height="155px" width="155px" style="margin: 5px;"></div>
                <div id="username" ><a href=><%=userobj.username%></a></div>
               
            </div>
            <div class="flex flex_column flex_center" id="containerbar">
                <div class="flex container">
                    <h1>fans</h1>  
                    <h1>posts</h1>
                    <h1>likes</h1>          
                </div>
                <div class="flex container">
                    <h2>0</h2>
                    <h2>0</h2>
                    <h2>0</h2>
                </div>
                <p id='bio'>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt aliquid voluptatibus fugiat non itaque reprehenderit, voluptas vero quam tempore ad consectetur repellat illo hic architecto, voluptatum, dicta vel iure quia. Cumque, impedit, amet laudantium earum at modi quos error quibusdam sunt aut alias velit exercitationem dolorum fugiat odit dolorem accusamus perspiciatis. Enim eos consequatur adipisci dolorem optio placeat quas facilis reprehenderit sequi architecto ipsam, culpa cum, odit aliquid corrupti voluptates obcaecati eius necessitatibus iste doloremque? Laboriosam aliquid minus at alias numquam, temporibus eius eveniet vitae omnis repellat error cumque assumenda corrupti impedit adipisci. Eos at quae, saepe repudiandae atque non?
                </p>
            </div>
            <%var settingslink='/'+userobj.username+'/settings';%>
            <div class="headerbuttons flex flex_center" style="width: 10%;">
                <a href=<%=settingslink%>>
                    <div >
                        <i  style="font-size:2.5em;" class="fas fa-cog"></i>
                    </div>
                </a>
            </div>
            
        </div>
        <div class="grid-container-right">
            <div class="postform">
                <form  method="POST" action=<%=postlink%> >
                    <input type='text' name='text' placeholder='caption'/>
                    <input id='post' type='submit' name='post' value='Post'/>
                </form>
            </div>
            <div class="flex flex_row myprofilepostselect">
                <div>myposts
                    <i class="fas fa-portrait"></i>
                </div>
                <div>newpost
                    <i class="far fa-plus-square"></i>
                </div>
                <div>saved
                    <i class="far fa-bookmark"></i>
                </div>
            </div>
            <div class="post-container">
                <h1>your posts</h1>
                <ul>
                    <%for(i=0;i< postobj.length;i++){%>
                        <li><%-include('mypostcontainer.ejs',{postobj:postobj[i],username:userobj.username});%></li>
                    <%}%>
                </ul>
                
            </div>
        </div>
    </div>
</body>
</html>