<div class='my-posts-container' id='<%=postobj._id%>'>
    <%var menuid='menu'+postobj._id%>
    <div class="my-posts-container-header">
         <%-include('postheader.ejs',{friend:postobj.username,postid:postobj._id});%> 
    </div>
    <div class="menu hide" id="<%=menuid%>" >
        <ul >
            <li><button onclick="viewpost('<%=postobj._id%>')"  >view</button></li>
            <li><button onclick="report('<%=postobj._id%>')"  >report</button></li>
            <li><button onclick="copypostlink('<%=postobj._id%>')"  >copy link</button></li>
            <li><button onclick="blockthispostuser('<%=postobj._id%>')"  >block</button></li>
            <li><button onclick="messagethispostuser('<%=postobj._id%>','<%=username%>','<%=postobj.username%>','false')"  >message</button></li>
            <li><button onclick="messagethispostuser('<%=postobj._id%>','<%=username%>','<%=postobj.username%>','True')"  >secret</button></li>
        </ul>
    </div>
    <div class="post-image">
        <img src="../addmie/img/Addmie.png" alt="image" height="400px" width="auto" style="margin: 5px;">
    </div>
   
    <span>
        <%-include('likecommentsharesave.ejs',{postid:postobj._id,username:username,likes:postobj.likes})%>
    </span>
    <hr>
    <div class="caption"> 
        <%=postobj.caption%> 
    </div>
    
</div>
