<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" type = "image/png" href = "../addmie/img/Addmie.png"> 
    <link rel="Stylesheet" href="../addmie/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../addmie/css/gaurav.css">  
    <link rel="stylesheet" type="text/css" href="../addmie/css/post.css"> 
    <title>Settings</title>
</head>
<body>
    <%-include('header.ejs',{username:username})%>
    <section style="height: 100;width: 100%;" class="flex flex_center ">
        <div class="postbox flex flex_row my-posts-container ">
            <div class="postbox_left">
                
                    <%var menuid='menu'+postobj._id%>
                    <div class="my-posts-container-header">
                        <%var link = '/profile'+'/'+postobj.username; %>
                            <span class="postheader">
                                <div class="post_profile_picture">
                                    <img src="../addmie/img/Addmie.png" alt="image" height="30px" width="30px" style="margin: 5px;">

                                </div>
                                <div style="width: 100%;">
                                    <a href= <%=link%>>
                                        <%=postobj.username%>
                                    </a>
                                </div>                                                         
                            </span>                         
                    </div>
                    <div class="post-image flex">
                        <%var imagesource='../'+postobj.blob.path%>
                        <div>
                            <img class='onbottomimage' src="<%=imagesource%>" alt="image" style="object-fit: cover;" ondblclick="like('<%=postobj._id%>')">
                        </div>
                        <div>
                            <img class='ontopimage' src="<%=imagesource%>" alt="image" style="object-fit: contain;" ondblclick="like('<%=postobj._id%>')">
                        </div>      
                    </div>
                   
                    <span>                        
                        <%-include('likecommentsharesave.ejs',{username:username,postobj:postobj})%>
                        
                    </span>
                    <hr>
                    <div class="caption"> 
                        <%=postobj.caption%> 
                    </div>
                    
                
            </div>
            <div class="postbox_right flex flex_row">
                
                <div id="likes" class="flex hide" >
                    <h1>likes</h1>
                    <% for(i=0; i< postobj.likes.length ; i++ ){  %>                                             
                        <span><%-include('accountheader.ejs',{friend:postobj.likes[i]})%></span>
                    <%}%>
                </div>
                <div id="comments" class="flex hide" >
                    
                    <div id='newcomment' class="flex">                        
                        <div class="flex flex_column flex_center">
                            <div class="post_profile_picture">
                                <img src="../addmie/img/Addmie.png" alt="image" height="30px" width="30px" style="margin: 5px;">

                            </div>
                            <h3 class="flex flex_column">
                                <a href= <%=link%>>
                                    <%=username%>
                                </a>
                            </h3>                                                                                 
                        </div>
                        <span class="flex likecommentsharesave flex_center">
                            <textarea id='commenttext'  placeholder="comment..." name='message' type='text'>
                                
                            </textarea>
                            <button onclick="postcomment('<%=username%>','<%=postobj._id%>')">
                                comment
                            </button>
                        </span>
                    </div>
                    <%for(i=0;i< comments.length;i++){%>
                    <div class="flex flex_center"><%-include('comment.ejs',{comment:comments[i]})%></div>
                    <%}%>
                </div>
                <div id="shares" class="flex hide" >
                    <h1>shares</h1>
                    <% for(i=0; i< postobj.shares.length ; i++ ){  %>                                             
                        <span><%-include('accountheader.ejs',{friend:postobj.shares[i]})%></span>
                    <%}%>
                </div>
                <div id="saves" class="flex hide" >
                    <h1>saves</h1>
                    <% for(i=0; i< postobj.saves.length ; i++ ){  %>                                             
                        <span><%-include('accountheader.ejs',{friend:postobj.saves[i]})%></span>
                    <%}%>
                </div>
                
                
                
            </div>
                
            </div>
            
        </div>
    </section>
</body>
</html>