<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" type = "image/png" href = "../addmie/img/Addmie.png"> 
    <link rel="Stylesheet" href="../addmie/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../addmie/css/gaurav.css">  
 
    <title>Settings</title>
</head>
<body>
    <%-include('header.ejs',{username:settingsobj.username})%>
    <%
        var secretid ='secret'+settingsobj.username,
        dateid ='date'+settingsobj.username,
        notificationsid='notifications'+settingsobj.username,
        update='/'+settingsobj.username+'/updatesettings'
        dp='/'+settingsobj.username+'/updatedp'
        blocked='/'+settingsobj.username+'/blockedaccounts'
    %>
    <div class="flex flex_center">
        <div class="settings_container">
            <form method="POST" enctype="multipart/form-data" action="<%=dp%>">
                <i class="far fa-plus-square" >
                    <input type="file" name='newimage' accept="image/*"  required/>
                </i>
                
                <input type="submit" value="update profile picture"/>
            </form>
            <form method="POST" action="<%=update%>">
                <div >
                    <label>firstname</label>
                    <input type="text" value="<%=settingsobj.fname%>" name="fname"/>
                </div>            
                <div>
                    <label>Lastname</label>
                    <input type="text" value="<%=settingsobj.lname%>" name="lname"/>
                </div>
                <div>
                    <label>email</label>
                    <input type="text" value="<%=settingsobj.email%>" name="email"/>
                </div>
                            
                <div>
                    <label>city</label>
                    <input type="text" value="<%=settingsobj.city%>" name="city"/>
                </div>
                <div>
                    <label>date of birth</label>
                    <input type="text" value="<%=settingsobj.dob%>" name="dob"/>
                </div>
                <div>
                    <label>gender</label>                    
                </div>
                <div>
                    <select style="width: 100px;" name="gender">
                        
                        <div>
                            <option value="male" <% if(settingsobj.gender=='male'){ %> selected <%}%> >
                                Male
                            </option>
                        </div>
                        
                        <div>
                            <option value="female" <% if(settingsobj.gender=='female'){ %> selected <%}%> >
                                Female
                            </option>
                        </div>
                        <div>
                            <option value="other" <% if(settingsobj.gender=='other'){ %> selected <%}%> >
                                Any Other
                            </option>
                        </div>
                    </select>
                </div>
                
                <div >
                    <input type="submit" value="Update" style="width: 100px; height: 50px;font-size: 16px;"/>
                </div>
            
            </form>
            <hr>
            <section>
                <div>
                    <label>Allow secret messages</label>
                    <button onclick="togglebutton('<%=secretid%>');changeusersettings('<%=settingsobj.username%>')">
                        <i  id='<%=secretid%>'  class="fas lightblue 
                            <%if(settingsobj.secret==true){%>fa-toggle-on<%}else{%>fa-toggle-off<%}%>">
                        </i>
                    </button>
                </div>
                <div>
                    <label>Allow Date requests</label>
                    <button onclick="togglebutton('<%=dateid%>');changeusersettings('<%=settingsobj.username%>')" >
                        <i  id='<%=dateid%>' class="fas lightblue 
                            <%if(settingsobj.dates==true){%>fa-toggle-on<%}else{%>fa-toggle-off<%}%>">
                        </i>
                    </button>
                </div>
                <div>
                    <label>Allow notifications</label>
                    <button onclick="togglebutton('<%=notificationsid%>');changeusersettings('<%=settingsobj.username%>')">
                        <i  id='<%=notificationsid%>'  class="fas lightblue 
                            <%if(settingsobj.notifications==true){%>fa-toggle-on<%}else{%>fa-toggle-off<%}%>">
                        </i>
                    </button>
                </div>
                <!-- <div>
                    <a href="#changepassword">change password</a>
                       
                </div>

                <div>                    
                        <form class=" hide" id="changepassword">
                            <input type="text" placeholder="old password"/>
                            <input type="text" name="" id="newpassword" placeholder="newpassword"/>
                            <input type="submit" value="change"/>
                        </form>
                   
                </div> -->
                <div>
                    <a href="/logout">Logout</a>
                </div>
                
                <div>
                    <button><a style="color: red;">Delete my account</a></button>
                </div>
                <div>
                    <a href="<%=blocked%>">Blocked accounts</a>
                </div>
                
            </section> 
        </div>
    </div>
</body>
</html>